<!--catalog.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<h1>{{.title}}</h1>
<p class="text-justify">
    <br>
    {{.payload.Description}}
</p>
<br>
<form name="catalogForm" method="POST" action="/catalog/submit/{{.payload.ID}}" onsubmit="return validateForm()">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Answers</th>
            </tr>
        </thead>
        <tbody>
        {{range .payload.Questions }}
           <tr>
               {{$id := .ID}}
               <th scope="row">{{.ID}}</th>
               <td class="align-middle">{{.Question}}</td>
               <td>
                <div class="btn-group-vertical btn-group-toggle" role="group" data-toggle="buttons" aria-label="Basic example">
                    {{range .Options}}
                    <label class="btn btn-secondary">
                        <input type="radio" name="{{$id}}" id="question{{$id}}" value="{{.Num}}" autocomplete="off" required>{{.Text}}
                    </label>
                    {{end}}
                </div>
               </td>
           </tr>
        {{end}}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="text-center">{{.ID}} {{.Question}}</p>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}